nodered.json
[
  {
    "id": "cb9d4d471ccbbabb",
    "type": "tab",
    "label": "フロー 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "59640f02b63c7700",
    "type": "alexa-home",
    "z": "cb9d4d471ccbbabb",
    "conf": "e52a15cf533c6776",
    "device": "196063",
    "acknoledge": true,
    "name": "電気",
    "topic": "",
    "x": 370,
    "y": 240,
    "wires": [
      [
        "3b417eec8163aee2"
      ]
    ]
  },
  {
    "id": "3b417eec8163aee2",
    "type": "switch",
    "z": "cb9d4d471ccbbabb",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 240,
    "wires": [
      [
        "312d1dc4e380bdb5"
      ],
      [
        "9b3231588cee6c75",
        "312d1dc4e380bdb5"
      ]
    ]
  },
  {
    "id": "9b3231588cee6c75",
    "type": "delay",
    "z": "cb9d4d471ccbbabb",
    "name": "",
    "pauseType": "delay",
    "timeout": "300",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 830,
    "y": 300,
    "wires": [
      [
        "4c16efb043dcc093"
      ]
    ]
  },
  {
    "id": "312d1dc4e380bdb5",
    "type": "template",
    "z": "cb9d4d471ccbbabb",
    "name": "light:on",
    "field": "command",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "light:on",
    "output": "str",
    "x": 1060,
    "y": 240,
    "wires": [
      [
        "0248c38190168f5e"
      ]
    ]
  },
  {
    "id": "0248c38190168f5e",
    "type": "exec",
    "z": "cb9d4d471ccbbabb",
    "command": "python /home/homebridge/HomeHub/irrp.py -p -g17 -f /home/homebridge/HomeHub/irdata.json",
    "addpay": "command",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 1750,
    "y": 460,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "4c16efb043dcc093",
    "type": "template",
    "z": "cb9d4d471ccbbabb",
    "name": "light:power",
    "field": "command",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "light:power",
    "output": "str",
    "x": 1070,
    "y": 300,
    "wires": [
      [
        "0248c38190168f5e"
      ]
    ]
  },
  {
    "id": "9d863bf7d7a5f3e8",
    "type": "alexa-home",
    "z": "cb9d4d471ccbbabb",
    "conf": "e52a15cf533c6776",
    "device": "240885",
    "acknoledge": true,
    "name": "テレビ",
    "topic": "",
    "x": 370,
    "y": 360,
    "wires": [
      [
        "3ba9b13cb9244855"
      ]
    ]
  },
  {
    "id": "3ba9b13cb9244855",
    "type": "template",
    "z": "cb9d4d471ccbbabb",
    "name": "tv:power",
    "field": "command",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "tv:power",
    "output": "str",
    "x": 1060,
    "y": 360,
    "wires": [
      [
        "0248c38190168f5e"
      ]
    ]
  },
  {
    "id": "b5f6f45f955ad2f9",
    "type": "alexa-home",
    "z": "cb9d4d471ccbbabb",
    "conf": "e52a15cf533c6776",
    "device": "186782",
    "acknoledge": true,
    "name": "扇風機",
    "topic": "",
    "x": 370,
    "y": 420,
    "wires": [
      [
        "9b5cba54aee05afe"
      ]
    ]
  },
  {
    "id": "8e850074938fb7dc",
    "type": "alexa-home",
    "z": "cb9d4d471ccbbabb",
    "conf": "e52a15cf533c6776",
    "device": "240883",
    "acknoledge": true,
    "name": "暖房",
    "topic": "",
    "x": 370,
    "y": 480,
    "wires": [
      [
        "f6139efefc54497f"
      ]
    ]
  },
  {
    "id": "4132025467f16170",
    "type": "alexa-home",
    "z": "cb9d4d471ccbbabb",
    "conf": "e52a15cf533c6776",
    "device": "240884",
    "acknoledge": true,
    "name": "冷房",
    "topic": "",
    "x": 370,
    "y": 540,
    "wires": [
      [
        "ac3801208f6c7f7a"
      ]
    ]
  },
  {
    "id": "bbeb9c945cfd4156",
    "type": "alexa-home",
    "z": "cb9d4d471ccbbabb",
    "conf": "e52a15cf533c6776",
    "device": "186781",
    "acknoledge": true,
    "name": "プロジェクター",
    "topic": "",
    "x": 400,
    "y": 660,
    "wires": [
      [
        "852036c59744f2dc"
      ]
    ]
  },
  {
    "id": "9b5cba54aee05afe",
    "type": "template",
    "z": "cb9d4d471ccbbabb",
    "name": "fan:power",
    "field": "command",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "fan:power",
    "output": "str",
    "x": 1060,
    "y": 420,
    "wires": [
      [
        "0248c38190168f5e"
      ]
    ]
  },
  {
    "id": "e0a65d9701136851",
    "type": "template",
    "z": "cb9d4d471ccbbabb",
    "name": "aircon:hot:on",
    "field": "command",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "aircon:hot:on",
    "output": "str",
    "x": 1070,
    "y": 480,
    "wires": [
      [
        "0248c38190168f5e"
      ]
    ]
  },
  {
    "id": "f6139efefc54497f",
    "type": "switch",
    "z": "cb9d4d471ccbbabb",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 480,
    "wires": [
      [
        "e0a65d9701136851"
      ],
      [
        "0d135ecd4b63c702"
      ]
    ]
  },
  {
    "id": "0d135ecd4b63c702",
    "type": "template",
    "z": "cb9d4d471ccbbabb",
    "name": "aircon:off",
    "field": "command",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "aircon:off",
    "output": "str",
    "x": 1060,
    "y": 600,
    "wires": [
      [
        "0248c38190168f5e"
      ]
    ]
  },
  {
    "id": "2ae74d785e3bee45",
    "type": "template",
    "z": "cb9d4d471ccbbabb",
    "name": "aircon:cool:on",
    "field": "command",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "aircon:hot:on",
    "output": "str",
    "x": 1080,
    "y": 540,
    "wires": [
      [
        "0248c38190168f5e"
      ]
    ]
  },
  {
    "id": "ac3801208f6c7f7a",
    "type": "switch",
    "z": "cb9d4d471ccbbabb",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 540,
    "wires": [
      [
        "2ae74d785e3bee45"
      ],
      [
        "0d135ecd4b63c702"
      ]
    ]
  },
  {
    "id": "52f7ea19ed7afcfa",
    "type": "template",
    "z": "cb9d4d471ccbbabb",
    "name": "projector:power",
    "field": "command",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "projector:power",
    "output": "str",
    "x": 1080,
    "y": 660,
    "wires": [
      [
        "0248c38190168f5e"
      ]
    ]
  },
  {
    "id": "bd9133a3da5165a5",
    "type": "delay",
    "z": "cb9d4d471ccbbabb",
    "name": "",
    "pauseType": "delay",
    "timeout": "1000",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 840,
    "y": 700,
    "wires": [
      [
        "52f7ea19ed7afcfa"
      ]
    ]
  },
  {
    "id": "852036c59744f2dc",
    "type": "switch",
    "z": "cb9d4d471ccbbabb",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 660,
    "wires": [
      [
        "52f7ea19ed7afcfa"
      ],
      [
        "52f7ea19ed7afcfa",
        "bd9133a3da5165a5"
      ]
    ]
  },
  {
    "id": "e52a15cf533c6776",
    "type": "alexa-home-conf",
    "username": "betchi"
  }
]